@import "tailwindcss";

@theme {
  --color-gold-50: #fbf8eb;
  --color-gold-100: #f5edd1;
  --color-gold-200: #ecdca5;
  --color-gold-300: #e2c874;
  --color-gold-400: #d8b144;
  --color-gold-500: #d4af37;
  --color-gold-600: #ab8b25;
  --color-gold-700: #816718;
  --color-gold-800: #584610;
  --color-gold-900: #302607;

  --animate-float: float 6s ease-in-out infinite;
  --animate-float-delayed: float 6s ease-in-out 3s infinite;

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide Google Translate UI & Prevent Body Shift */
body {
  top: 0px !important;
  position: static !important;
}

.goog-te-banner-frame.skiptranslate,
.goog-te-banner-frame,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc,
iframe.skiptranslate {
  display: none !important;
}

#goog-gt-tt, 
.goog-te-balloon-frame {
  display: none !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

